:root {
  --main-font: "Libre Caslon Text", serif;
  --accent-font: "Montserrat", sans-serif;
  --primary-color: #f8f3ee;
  --accent-color: #daaa63;
  --secondary-color: #2c1810;
  --background-color: #f3e5d0;
}
body {
  background-color: var(--background-color);
}
nav {
  display: block;
  margin: -8rem 0 4rem 0;
}
nav h4 {
  font-weight: bold;
  font-size: 20px;
  margin: 0 3rem 0 -8rem;
}

ul {
  list-style: none;
  display: inline-block;
}
li {
  display: inline-block;
}
.nav-center:active,
.nav-center:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding: 10px 25px;
  border-radius: 40px;
  text-align: center;
}
.nav-center {
  font-family: var(--accent-font);
  padding-right: 2rem;
  text-align: center;
}
.nav-icons {
  text-align: right;
}
.nav-icons:first-of-type {
  color: green;
  margin-left: 2rem;
}
.vertical-text,
h5 {
  text-orientation: mixed;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
main {
  background-color: var(--primary-color);
  padding: 10rem;
  border-radius: 5rem 5rem 0 0;
}
.hero {
  padding: 2rem;
  margin: 1rem;
}

section {
  display: block;
  margin: 5rem;
  padding: 5rem;
  background-color: var(--primary-color);
  border-radius: 0 0 5rem 5rem;
}
section:after {
  background-color: var(--secondary-color);
}
