:root {
  --main-font: "Libre Caslon Text", serif;
  --accent-font: "Montserrat", sans-serif;
  --primary-color: #f8f3ee;
  --accent-color: #daaa63;
  --secondary-color: #2c1810;
  --background-color: #f3e5d0;
}
body {
  background-color: var(--background-color);
}

h1,
h4,
h6 {
  font-family: var(--main-font);
}
nav {
  display: block;
  margin: -8rem 0 4rem 0;
}
nav h4 {
  font-weight: bold;
  font-size: 20px;
  margin: 0 3rem 0 -8rem;
}

ul {
  list-style: none;
  display: inline-block;
}
li {
  display: inline-block;
}
main {
  background-color: var(--primary-color);
  padding: 10rem;
  border-radius: 5rem 5rem 0 0;
}
p,
a {
  font-family: var(--accent-font);
  font-size: 12px;
}
i {
  display: inline-block;
}
input {
  padding-left: 10px;
  border-radius: 3px;
}
section {
  background-color: var(--primary-color);
  display: block;
  margin: 3rem;
  padding: 5rem;
}
h5,
.vertical-text {
  text-orientation: mixed;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

footer {
  text-align: right;
  color: var(--secondary-color);
  margin: 0 1.5rem 1rem;
  font-family: var(--accent-font);
  font-size: 12px;
}
footer i {
  font-size: 30px;
  padding: 0 0 0 0.5rem;
}
footer a {
  color: var(--accent-color);
  text-decoration: none;
}
footer a:hover {
  color: var(--secondary-color);
  transition: 200ms ease-in-out;
}
#books {
  border-radius: 0 0 5rem 5rem;
  margin: -3rem 3rem 3rem 3rem;
}
#audiobooks {
  border-radius: 5rem 5rem 0 0;
}

.feature-img img {
  transform: scale3d(1, 1, 1);
  transition: 400ms ease-in;
  box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.23);
  /* transform: perspective(90%); */
  /* transform: matrix(20deg); */
  position: relative;
  display: inline-block;
  transform-origin: 0, 50%;
  transform: perspective(500) rotateY(10deg);
  transition: 0.5s;
  z-index: 3;
}
.feature-img img:hover {
  transform: perspective(500) rotateY(0deg);
}
.shelf {
  height: 100px;
  width: 83.3vmax;
  /* width: 87.18vmax; */
  margin-top: -2%;
  margin-left: -20.2%;
  /* margin-left: -25% ; */
  display: flex;
  transform: skew(-20deg, 10.5turn);
  /* USED THIS LAST --- transform: skew(-6deg, 0.03deg); */
  /* transform: perspective(30%); */
  /* transform: skew(-30deg, 20deg); */
  /* USED THIS LAST --- background-image: linear-gradient(
    #eae1d3 0% 60%,
    #fff 0 5%,
    #f4f0eb 70% 99%,
    #fff 70% 100%
  ); */
  background-image: linear-gradient(#eae1d3 70% 95%);
  /* box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.23); */
  z-index: 1;
  /* justify-content: space-around; */
  /* border-radius: 2px; */
}
.shelf-2 {
  background-image: linear-gradient(#fff 10% 20%, #f4f0eb 70% 100%);
  z-index: 3;
  height: 50px;
  width: 83.3vmax;
  transform: skew(10deg, 0.03deg);
  margin-left: -21.93%;
  box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.23);
}
.bestseller-item {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
}
.bestseller-item a {
  margin-top: -1rem;
}
.audiobook-item {
  background-color: white;
  border-radius: 10px;
  margin: 0 1rem;

  /* display: flex; */
  align-content: center;
  justify-content: center;
}
.audiobook-item i {
  padding: 0 10px;
}
.navbar-toggler {
  color: var(--secondary-color);
}
.nav-link {
  display: inline-block;
}
.nav-center:active,
.nav-center:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 40px;
  text-align: center;
}
.nav-center {
  font-family: var(--accent-font);
  padding: 10px 25px;
  text-align: center;
}
.nav-icons {
  text-align: right;
}
.nav-icons:first-of-type {
  color: green;
  /* margin-left: 2rem; */
}
.fa-magnifying-glass {
  margin-left: -0.25rem;
}
.hero {
  padding: 2rem;
  margin: 1rem;
}

.hero-side-img {
  width: 200px;
  height: auto;
  /* margin: 3vw 0 3vw 0; */
}

.title-col h1 {
  font-family: var(--main-font);
  width: 20vw;
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
}
.title-col {
  margin: 7vw 3vw 7vw -3vw;
}

/* .tns-outer [aria-controls],
.tns-outer [data-action] {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding: 10px 25px;
  margin: -2rem 1rem 2rem 0;
  border-radius: 40px;
} */

/*must-haves styling*/
.must-haves img {
  width: 275px;
  height: 275px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
  border: 3px solid var(--primary-color);
}
.must-haves {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 1rem;
  margin: 0 1.5rem;
}

/* styling for slider */

#slider {
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1600px;
  margin: auto;
}

.subcontainer {
  width: 85%;
  margin: auto;
}

.slide-img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.slide-img:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.slide-img a {
  opacity: 0;
  text-decoration: none;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: white;
}
.slide-img:hover a {
  opacity: 1;
  transform: scale(1);
}
/* Must haves hover */

.img-8,
.img-9,
.img-10 {
  margin: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 275px;
}
.must-haves a {
  text-decoration: none;
  background-color: #fff;
  color: var(--secondary-color);
  padding: 1rem;
  border-radius: 5px;
}
.img-1 {
  background-image: url(img/fourth-wing-bkcover.jpg);
}
.img-2 {
  background-image: url(img/day-of-fallen-night-bkcover.jpg);
}
.img-3 {
  background-image: url(img/house-of-roots-ruin-bkcover.jpg);
}
.img-4 {
  background-image: url(img/house-of-sky-breath-bkcover.jpg);
}
.img-5 {
  background-image: url(img/daughter-of-moon-goddess-bkcover.jpg);
}
.img-6 {
  background-image: url(img/song-of-achilles-bkcover.jpg);
}
.img-7 {
  background-image: url(img/midnightlibrary-bkcover.jpg);
}
.img-8 {
  background-image: url(img/remote-1.png);
}
.img-9 {
  background-image: url(img/kindle-unsplash.jpg);
}
.img-10 {
  background-image: url(img/IMG_4109.png);
}

@media (max-width: 1600px) {
  .container {
    width: 100%;
  }
}
