:root {
  --main-font: "Libre Caslon Text", serif;
  --accent-font: "Montserrat", sans-serif;
  --primary-color: #f3e5d0;
  --accent-color: #daaa63;
  --secondary-color: #2c1810;
  --background-color: #f3e5d0;
}
